header {
    background-color: aquamarine;
}

nav {
    background-color: salmon;
}

article {
    background-color: rgb(255, 232, 28);

}

section {
    background-color: orange;
}

aside {
    background-color: grey;
}

footer {
    background-color: aqua;
}

